<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container px-4">
    <a class="navbar-brand" href="/">
        <%= image_tag("ios_logo.png", :alt => "sair", size: "120x70", class:"img-fluid" )%>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to home_path, { class: "nav-link active", "aria-current": "page" } do %> 
            <%= image_tag("home.png", :alt => "sair", size: "15x15", class:"img-fluid") %> 
            Menu
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to occurrences_path, { class: "nav-link active", "aria-current": "page" } do %> 
            <%= image_tag("telephone.png", :alt => "sair", size: "15x15", class:"img-fluid") %> 
            Ocorrências 
          <% end %>
        </li>
      </ul>   
      
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
          <%= image_tag("user.png", :alt => "sair", size: "30x30", class:"img-fluid") %>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
          <li><%= button_to "Logout", destroy_profile_session_path, method: :delete, class:"dropdown-item" %><li>
        </ul>
      </div>
    </div>
  </div>
</nav>