<div id="<%= dom_id occurrence %>">
  <p>
    <strong>cpf:</strong>
    <%= occurrence.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= occurrence.email %>
  </p>

  <p>
    <strong>Tel:</strong>
    <%= occurrence.tel %>
  </p>

  <p>
    <strong>Ocurrencetype:</strong>
    <%= occurrence.ocurrenceType %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= occurrence.description %>
  </p>

  <p>
    <strong>Latitude:</strong>
    <%= occurrence.latitude %>
  </p>

  <p>
    <strong>Longitude:</strong>
    <%= occurrence.longitude %>
  </p>

  <p>
    <strong>Postalcode:</strong>
    <%= occurrence.postalCode %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= occurrence.street %>
  </p>

  <p>
    <strong>Neighborhood:</strong>
    <%= occurrence.neighborhood %>
  </p>

  <p>
    <strong>City:</strong>
    <%= occurrence.city %>
  </p>

  <p>
    <strong>Uf:</strong>
    <%= occurrence.uf %>
  </p>

</div>
