<p style="color: green"><%= notice %></p>

<h1>Occurrences</h1>

<table class="table table-striped table-bordered table-sm">
  <thead>
    <tr>
      <th class="text-center">Emergência</th>
      <th class="text-center">Nome</th>
      <th class="text-center">Email</th>
      <th class="text-center">Telefone</th>
      <th class="text-center">Tipo</th>
      <th class="text-center">Latitude</th>
      <th class="text-center">Longitude</th>
      <th class="text-center">Horário</th>
      <th class="text-center">Ações</th>
    </tr>
  </thead>
  <tbody>
    <% @occurrences.each do |occurrence| %>
      <tr>
      <tr>
        <td class="text-center"><%= occurrence.emergency %></td>
        <td class="text-center"><%= occurrence.cpf %></td>
        <td class="text-center"><%= occurrence.email %></td>
        <td class="text-center"><%= occurrence.tel %></td>
        <td class="text-center"><%= occurrence.ocurrenceType %></td>
        <td class="text-center"><%= occurrence.latitude %></td>
        <td class="text-center"><%= occurrence.longitude %></td>
        <td class="text-center"><%= occurrence.created_at %></td>
        <td class="justify-content-center d-flex">
          <%= link_to image_tag("see.png", alt: "sair", size: "12x12", class: "img-fluid"), occurrence, class: "btn btn-link px-1" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>